<div class="container">

  <div id="name"><h2></h2></div>
  <div id="namehead">
    <h1>Name: </h1>
  </div>
  <div id="namehead-2">
    <p>Isac Gustavsson.</p>
  </div>

  <div id="phone"></div>
  <div id="phonehead">
    <h1>Phone:</h1>
  </div>
  <div id="phonehead-2">
    <p>+46 123 123 123</p>
  </div>

  <div id="email"></div>
  <div id="emailhead">
    <h1>Email:</h1>
  </div>
  <div id="emailhead-2">
    <p>isachk@icloud.com</p>
  </div>
</div>