<div class="container">

  <div id="home1-2">
    <p>
      I am a Graphic Design
      <br />
      & Web Development student from Sweden.</p>
  </div>

  <div id="home1">
    <h1>Hello &</h1>
  </div>

  <div id="home2-1">
    <p>I'm glad that
      <br />
      you are here.</p>
  </div>

  <div id="home2-1-2">
    <h2>Welcome.</h2>
  </div>

  <div id="home2-2">
    <p>Feel free to take
      <br />
      a look around!</p>
  </div>

  <div id="home3-1">
    <h1>Portfolio.</h1>
  </div>

</div>