@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

/*  Global Styles  */

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: #474a48;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Croissant One", cursive;
  color: #fff;
}

p {
  color: #fff;
}

li {
  list-style-type: none;
  padding: 0 1rem;
}

li:hover {
  scale: 1.125;
}

li:active {
  scale: 0.975;
}

/*  Top Navigation Section  */

#topnav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 4rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#topnav #logo {
  animation: rotate 6s linear infinite;
  color: #fff;
  scale: 1.5;

  grid-column: 1/ 2;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#topnav #logo:hover {
  scale: 1.75;
  rotate: 90deg;
}

#topnav ul {
  display: flex;
}

#topnav ul a {
  font-family: "Open Sans", cursive;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  cursor: grab;
}

#topnav ul a:active {
  cursor: grabbing;
}

/* Hero Section */

#hero {
  gap: 2rem;
}

#hero #heroTitle {
  display: flex;
  font-size: 10rem;
}

#hero #bolt {
  font-size: 10rem;
  display: flex;
  align-self: center;
  justify-self: center;
}

/*  Main Section  */

#main {
  min-height: 400px;
  width: 80%;
  padding: 4rem;
  margin: 2rem auto;

  background-color: #537a5a;
}

#main a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

#main a:hover {
  scale: 1.5;
  color: tomato;
  cursor: grab;
}

#main a:active {
  cursor: grabbing;
}
